# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore configuration files
config/

# Log files
*.log

# IDE or editor specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db